.item {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #fff;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 8px;
  line-height: 24px;
  user-select: none;
}